.login{
    margin-top: 80px;
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.cardd{
    margin-top: 25px;
    width: fit-content;
    padding: 5px 30px;
}

.cardBodyy{
    width: 400px;
}
